@import "tailwindcss";

@theme {
  --breakpoint-lg:1190px;
  --breakpoint-g:1188px;
  --breakpoint-md:870px;
  
}
@font-face {
  font-family: 'MyHelvetica';
  src: url('./fonts/helvetica-255.tff') format('truetype');
}
body {
  font-family: 'MyHelvetica', sans-serif;
}
 
@keyframes typingClip {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes slideInRight {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}



.typewriter{
  animation: typingClip 1.5s steps(30) forwards;

}
.right-slidein{
  animation: slideInRight 1.5s steps(30) forwards;
   
}
.slide-top {
  opacity: 0;
  animation: fadeInTop 1.5s ease forwards;
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-20px); /* adjust offset as you like */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}